<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>

        <menuitem name="Paramétrage"          id="menu_parametrage"                sequence="50" groups="group_is_gestionnaire" />
        <menuitem name="Paramétrage EIG"      id="menu_parametrage_eig"            sequence="10" groups="group_is_gestionnaire"                 parent="menu_parametrage" />
        <menuitem name="Fondation OVE"        id="menu_fondation_ove"              sequence="1"  action="base.action_res_company_form"          parent="menu_parametrage_eig" />
        <menuitem name="Département"          id="menu_is_departement_action"      sequence="2"  action="is_departement_action"                 parent="menu_parametrage_eig" />
        <menuitem name="Etablissement"        id="menu_is_etablissement_action"    sequence="3"  action="is_etablissement_action"               parent="menu_parametrage_eig" />
        <menuitem name="Type Evènement"       id="menu_is_type_evenement_action"   sequence="4"  action="is_type_evenement_action"              parent="menu_parametrage_eig" />
        <menuitem name="Nature Evènement"     id="menu_is_nature_evenement_action" sequence="5"  action="is_nature_evenement_action"            parent="menu_parametrage_eig" />
        <menuitem name="Modèles de courriels" id="menu_is_eig_email_templates"     sequence="6"  action="is_eig_action_email_template_tree_all" parent="menu_parametrage_eig" />

        <!-- Incident -->
        <menuitem name="Incident"           id="menu_ei_root"         sequence="20" />
        <menuitem name="Incident"           id="menu_ei"              sequence="10" parent="menu_ei_root" />
        <menuitem name="Tous les Incidents" id="menu_is_ei_tous"      sequence="10" parent="menu_ei"      action="is_ei_tous_action"  />
        <menuitem name="Rédaction"          id="menu_is_ei_redaction" sequence="11" parent="menu_ei"      action="is_ei_redaction_action"/>
        <menuitem name="Rédigé"             id="menu_is_ei_redige"    sequence="12" parent="menu_ei"      action="is_ei_redige_action"/>
        <menuitem name="Validé"             id="menu_is_ei_valide"    sequence="13" parent="menu_ei"      action="is_ei_valide_action" />

        <!-- Paramétrage Incident -->
        <menuitem name="Paramétrage Incident" id="menu_parametrage_ei"                sequence="910" parent="menu_ei_root"        groups="group_is_gestionnaire_ei" />
        <menuitem name="Type Evènement"       id="menu_is_type_evenement_ei_action"   sequence="5"   parent="menu_parametrage_ei" action="is_type_evenement_ei_action" />
        <menuitem name="Nature Evènement"     id="menu_is_nature_evenement_ei_action" sequence="10"  parent="menu_parametrage_ei" action="is_nature_evenement_ei_action" />
        <menuitem name="Modèles de courriels" id="menu_is_ei_email_templates"         sequence="20"  parent="menu_parametrage_ei" action="is_ei_action_email_template_tree_all" />

        <!-- Paramétrage Tables -->
        <menuitem name="Tables"            id="menu_parametrage_tables"          sequence="11" parent="menu_parametrage"        groups="group_is_gestionnaire" />
        <menuitem name="Destinataire"      id="menu_is_destinataire_action"      sequence="1"  parent="menu_parametrage_tables" action="is_destinataire_action" />
        <menuitem name="Auteur"            id="menu_is_auteur_action"            sequence="2"  parent="menu_parametrage_tables" action="is_auteur_action" />
        <menuitem name="Sexe"              id="menu_parametrage_tables_sexe"     sequence="3"  parent="menu_parametrage_tables" action="is_sexe_action" />
        <menuitem name="Qualité"           id="menu_parametrage_tables_eqalite"  sequence="4"  parent="menu_parametrage_tables" action="is_qualite_action" />
        <menuitem name="Disposition Prise" id="menu_is_disposition_prise_action" sequence="5"  parent="menu_parametrage_tables" action="is_disposition_prise_action" />
        <menuitem name="Conséquence"       id="menu_is_consequence_action"       sequence="6"  parent="menu_parametrage_tables" action="is_consequence_action" />
        <menuitem name="Nature Risque"     id="menu_is_nature_risque_action"     sequence="7"  parent="menu_parametrage_tables" action="is_nature_risque_action" />
        <menuitem name="Type Risque"       id="menu_is_type_risque_action"       sequence="8"  parent="menu_parametrage_tables" action="is_type_risque_action" />
        <menuitem name="Critères généraux"                                        id="menu_is_criteres_generaux_action"                    sequence="9"  parent="menu_parametrage_tables" action="is_criteres_generaux_action" />
        <menuitem name="Demande d’intervention des secours"                       id="menu_is_demande_intervention_secours_action"         sequence="10" parent="menu_parametrage_tables" action="is_demande_intervention_secours_action" />
        <menuitem name="Pour la ou les personnes prises en charge"                id="menu_is_consequence_personne_prise_en_charge_action" sequence="11" parent="menu_parametrage_tables" action="is_consequence_personne_prise_en_charge_action" />
        <menuitem name="Pour les personnels"                                      id="menu_is_consequence_personnel_action"                sequence="12" parent="menu_parametrage_tables" action="is_consequence_personnel_action" />
        <menuitem name="Pour l’organisation et le fonctionnement de la structure" id="menu_is_consequence_fonctionnement_stucture_action"  sequence="13" parent="menu_parametrage_tables" action="is_consequence_fonctionnement_stucture_action" />

        <menuitem name="Déclaration" id="menu_declaration"  sequence="10"/>
        <menuitem name="EIG"         id="menu_eig"          sequence="20" parent="menu_declaration" />
        <menuitem action="is_ove_eig_action"         id="menu_is_ove_eig_action"         parent="menu_eig" sequence="10"/>
        <menuitem action="is_ove_eig_draft_action"   id="menu_is_ove_eig_draft_action"   parent="menu_eig" sequence="11"/>
        <menuitem action="is_ove_eig_redige_action"  id="menu_is_ove_eig_redige_action"  parent="menu_eig" sequence="12"/>
        <menuitem action="is_ove_eig_valide_action"  id="menu_is_ove_eig_valide_action"  parent="menu_eig" sequence="13"/>
        <menuitem action="is_ove_eig_complet_action" id="menu_is_ove_eig_complet_action" parent="menu_eig" sequence="14"/>
        <menuitem action="is_ove_eig_done_action"    id="menu_is_ove_eig_done_action"    parent="menu_eig" sequence="15"/>

    </data>
</odoo>